p,ol,ul,dl,li,dt,dt{
	color:black;
	font-weight: bold;
	border: 4px solid black;
}
h1{
	margin:50px;
	background-color: white;
}
a{
	color:red;
}
body{
	 background-image: url('3b.jpg');
	 background-size: cover;
	}
